<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <title>Atualizar Funcionário - ID <%= employee.code %></title>
  </head>
  <body>
    <!-- Incluindo a navbar -->
    <%- include('partials/navbar') %>

    <h1>Atualizar Funcionário - ID <%= employee.code %></h1>
    <form class="container" method="POST" enctype="multipart/form-data" onsubmit="event.preventDefault(); updateEmployee('<%= employee.code %>');">
      <input type="hidden" name="_method" value="PUT">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" value="<%= employee.name %>" required />
    
      <label for="hoursWorked">Horas trabalhadas:</label>
      <input type="text" id="hoursWorked" name="hoursWorked" value="<%= employee.hoursWorked %>" required />
    
      <label for="shift">Turno:</label>
      <select id="shift" name="shift" required>
        <option value="M" <% if (employee.shift === 'M') { %>selected<% } %>>Manhã</option>
        <option value="V" <% if (employee.shift === 'V') { %>selected<% } %>>Tarde</option>
        <option value="N" <% if (employee.shift === 'N') { %>selected<% } %>>Noite</option>
      </select>
    
      <label for="category">Categoria:</label>
      <select id="category" name="category" required>
        <option value="G" <% if (employee.category === 'G') { %>selected<% } %>>Gerente</option>
        <option value="F" <% if (employee.category === 'F') { %>selected<% } %>>Funcionário</option>
      </select>
    
      <input type="submit" value="Atualizar" onclick="updateEmployee()" />
    </form>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function updateEmployee(code) {
        if (confirm("Deseja realmente atualizar este funcionário?")) {
          const name = document.getElementById("name").value;
          const hoursWorked = document.getElementById("hoursWorked").value;
          const shift = document.getElementById("shift").value;
          const category = document.getElementById("category").value;

          const data = {
            name: name,
            hoursWorked: hoursWorked,
            shift: shift,
            category: category
          };

          axios
            .put("/employees/id/" + code, data)
            .then(response => {
              console.log('No front', data)
              // Manipular a resposta do servidor, se necessário
/*               console.log(response); */
              // Redirecionar para uma página ou atualizar a tabela, por exemplo
/*               window.location.href = "/employees"; */
            })
            .catch(error => {
              // Lidar com erros, se houver
              console.error(error);
/*               window.location.href = "/employees"; */
            });
        }
      }
    </script>
  </body>
</html>
