<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/employees.css" />
    <title>Detalhes dos Funcionários</title>
  </head>
  <body>
    <!-- Incluindo a navbar -->
    <%- include('partials/navbar') %>

    <h1>Detalhes dos Funcionários</h1>

    <% if (employees.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Número de Horas Trabalhadas</th>
          <th>Turno</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% employees.forEach((employee) => { %>
          <tr>
            <td><%= employee.code %></td>
            <td><%= employee.name %></td>
            <td><%= employee.hoursWorked %></td>
            <td><%= employee.shift %></td>
            <td><%= employee.category %></td>
            <td>
              <a href="/employees/id/<%= employee.code %>">Editar</a>
              <a href="#" onclick="deleteEmployee('<%= employee.code %>')">Excluir</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>Nenhum funcionário encontrado.</p>
    <% } %>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function deleteEmployee(code) {
      if (confirm("Deseja realmente excluir este funcionário?")) {
        axios.delete("/employees/id/" + code)
          .then(response => {
            // Manipular a resposta do servidor, se necessário
            console.log(response);
            // Redirecionar para uma página ou atualizar a tabela, por exemplo
            window.location.href = "/employees";
          })
          .catch(error => {
            // Lidar com erros, se houver
            console.error(error);
            window.location.href = "/employees";
          });
      }
    }
  </script>
</html>
