<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <title>Detalhes dos Funcionários</title>
  </head>
  <body>
    <!-- Incluindo a navbar -->
    <%- include('partials/navbar') %>

    <h1>Detalhe do Funcionário</h1>

    <% if (employee) { %>
    <table>
      <thead>
        <tr>
          <th>Código do Funcionário</th>
          <th>Número de Horas Trabalhadas</th>
          <th>Turno</th>
          <th>Categoria</th>
          <th>Visualizar Funcionário</th>
        </tr>
      </thead>
      <tbody>
        <% employee.forEach((employee) => { %>
        <tr>
          <td><%= employee.code %></td>
          <td><%= employee.hoursWorked %></td>
          <td><%= employee.shift %></td>
          <td><%= employee.category %></td>
          <td><a href="/id/<%= employee.code %>">Visualizar</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>Nenhum funcionário encontrado.</p>
    <% } %>
  </body>
</html>
